.title {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  font-weight: 700;
  font-size: 1.5vw;
  text-align: center;
}

.grid_container {
  display: grid;
  margin: 1vh 2vw 1vh 1vw;
  width: 25vw;
  aspect-ratio: 0.7;

  grid-template-columns: auto auto;
  grid-row: auto auto;
  grid-column-gap: 1vw;
  grid-row-gap: 1vh;
}

.box {
  background-color: #ffffff;
  padding: 1% 5% 1% 5%;
  border-radius: 10px;
  border: 1px solid rgb(226, 225, 225);
  transition: ease-in-out;
  font-family: sans-serif;
  align-content: center;
}
.box:hover {
  transform: scale(1.05);
  transition: ease-in-out;
}
.image_container {
  display: flex;
  width: 100%;
  aspect-ratio: 1;

  align-items: center;
  justify-content: center;
}
.image {
  max-width: 100%;
  max-height: 100%;
  background-size: contain;
}
.name {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 500;
  font-size: 1vw;
  font-style: italic;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  text-align: center;
  margin: 3%;
}
.price {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 0.8vw;
  font-weight: 900;
  text-align: center;
  margin: 0% 5% 0% 5%;
}

@media only screen and (max-width: 450px) {
  .title {
    margin: 5px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-style: italic;
    font-weight: 700;
    font-size: 15px;
    color: rgb(17, 17, 124);
    text-align: center;
  }

  .grid_container {
    width: 80vw;
    aspect-ratio: 1;
  }
  .box {
    background-color: #ffffff;
    padding: 0;

    align-content: center;
  }

  .image_container {
    display: flex;
    width: 100%;
    aspect-ratio: 1;

    align-items: center;
    justify-content: center;
  }
  .image {
    max-width: 100%;
    max-height: 100%;
    background-size: contain;
  }
  .name {
    font-weight: 500;
    font-size: 12px;

    margin: 2%;
  }
  .price {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 13px;
    font-weight: 900;
    margin: 0% 5% 0% 5%;
  }
}
